<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<h1>form</h1>
<form action="/" method="POST" enctype="utf8">
    <div><input type="text" name="email" placeholder="email"></div>
    <div><input type="text" name="firstname" placeholder="имя"></div>
    <div><input type="text" name="lastname" placeholder="фамилия"></div>
    <div><input type="text" name="login" placeholder="login"></div>
    <div><input type="password" name="password" placeholder="password"></div>


    <button type="submit">submit</button>
</form>

<a th:href="@{/templates/login.html}">login</a>
</body>
</html>